ipympl
IPython>=7.23.1
jupyter
lmfit
numba
numpy
pandas
piecewise_regression
pyspedas
scipy
git+https://github.com/jgieseler/SEPpy
solarmach
git+https://github.com/jgieseler/solo-epd-loader
stixdcpy
sunpy
sunpy_soar