ipympl
IPython>=7.23.1
jupyter
lmfit
numba
numpy
pandas
piecewise_regression
pillow>=11.0.0
git+https://github.com/Christian-Palmroos/PyOnset/
pyspedas
scipy
git+https://github.com/serpentine-h2020/SEPpy/  # seppy>=0.4.4 TODO: change to pypi version when released
solarmach>=0.5.3
solo-epd-loader>=0.4.4
speasy>=1.5.2
statsmodels>=0.14.6
stixdcpy
sunpy
sunpy_soar
